body{
    font-family: monospace;
    padding: 5% 7.5%;
    background-color: black;
    color: white;
}

.Select-value, .Select-menu-outer, .Select-value-label {
    background-color: black;
    color: white !important;
    border-color: white;
}


#_dash-app-content{
    padding: 40px;
    margin: 0 15vw;
}
.app--title,.app--subt{
    text-align: center;
}
.Select-control,.Select-menu-outer{
    width: 20vw;
    margin-bottom: 10px;
}
.inline-t{
    display: inline;
}
